PORT=5001
MONGO_URI=MONGO_URI=mongodb+srv://giakaa_user:Giakaa12345@cluster0.npmrzda.mongodb.net/giakaa?retryWrites=true&w=majority&appName=Cluster0


SITE_URL=http://localhost:5173


CORS_ORIGINS=http://localhost:5173
